/*css 初始化 */

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
    color: #333;
    font-size:12px;
    font-family: '方正正纤黑简体', "Microsoft YaHei", sans-serif;
    font-style: normal;
    list-style: none;
}

html {
    -webkit-text-size-adjust: none;
}

fieldset,
img,
input,
button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul,
ol {
    list-style: none;
}

i {
    font-style: normal;
}

/*input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}*/

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0;
    outline:none;
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input{-webkit-appearance:none;}

textarea {
    resize: none;
}

/*防止拖动*/

img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/

table {
    border-collapse: collapse;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

/*end*/

/*头部信息*/

header ul {
    height: 44px;
    background-color: #333333;
}

header ul li {
    float: left;
    color: #fff;
    line-height: 44px;
    text-align: center;
    font-size: 17px;
}

header ul li:first-child {
    width: 30%;
}

header ul li:nth-of-type(2) {
    width: 60%;
    text-align: left;
}

header ul li:last-child {
    width: 10%;
}

header ul li i {
    margin-left: 20px;
    color: #222;
}

/*header ul{
    height: 44px;
    width: 100%;
    background-color: #333;
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-box;
    display: flex;
}
header ul li{
    float: left;
    -moz-flex:1;
    -webkit-flex:1;
    float: left;
    color:#fff;
    text-align: center;
    line-height: 44px;
}
header ul li:nth-of-type(2){
    -moz-flex:2;
    -webkit-flex:2;
    text-align: left;
}*/

/*header ul li i{
    color:#222;
    /!*color:#fff;*!/
    /!*margin-left:30px;*!/
}*/

.dBody {
    width: 100%;
    overflow: auto;
    top: 44px;
    position: absolute;
    z-index: 10;
    /*bottom: 50px;*/
}

/*更改邮箱、个人信息等*/

.change-info-input {
    width: 90%;
    display: block;
    height: 30px;
    border-bottom: 1px solid #FEBC21;
    margin: 10px auto 0;
    font-size: 14px;
    color: #999;
}

.change-tip {
    display: block;
    width: 90%;
    color: #999;
    font-size: 9px;
    margin: auto;
}

.weui_grids .font-size-12 {
    text-align: center;
}

.edit_gender {
    display: block;
    width: 90%;
    color: #ccc;
    font-size: 14px;
    text-align: center;
    margin: 4px auto;
    height: 2rem;
    line-height: 2rem;
}

.edit_gender .option {
    width: 90%;
    margin: 6px auto 0;
}

.edit_gender .option.active {
    background: #0AB8F4;
    color: #fff;
    opacity: .6;
}

.industry .profession {
    width: 90%;
    text-align: left;
    color: #333;
    margin: 2px auto;
    overflow: auto;
    font-size: 14px;
}

.industry li,
.profession li {
    border-bottom: 1px solid #ccc;
    padding: .5rem;
}

.industry li span,
.profession li span {
    padding: .5rem .5rem .5rem 2rem;
}

.industry li i,
.profession li i {
    height: 1rem;
    width: 2rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 100%;
    background: #f0f0f0;
    opacity: 1;
    display: inline-block;
    font-size: .5rem;
    color: #666;
}

.industry li:last-child,
.profession li:last-child {
    border-bottom: 0px solid #ccc;
}

.industry li.active,
.profession li.active {
    background-image: url(../img/select.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.weui_cells:before {
    transform: scaleY(1) !important;
}

.weui_cells:after {
    transform: scaleY(1) !important;
}

.weui_cell:before {
    transform: scaleY(1) !important;
}
/*字号*/
.font-size-30{
    font-size:30px;
}
.font-size-20{
    font-size:20px;
}
.font-size-18{
    font-size:18px;
}
.font-size-17{
    font-size:17px;
}
.font-size-16{
    font-size:16px;
}
.font-size-14{
    font-size:14px;
}
.font-size-12{
    font-size:12px;
}
/*普通蒙板*/
.public-mask{
    width: 100%;
    height: 100%;
    padding: 0 2%;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    z-index: 99;
    top:0;
    left:0;
    display: none;
}
.public-mask .public-alert-box{
    width:80%;
    height: 80%;
    background: url('../img/sign1.png') no-repeat center center;
    background-size: cover;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.public-mask .public-alert-box .alert-type,
.public-mask .public-alert-box .alert-intro{
    color:#fff;
    text-align: center;
    padding:0 15px;
}
.public-mask .public-alert-box .alert-type{
    font-weight: 700;
    margin-top:202px;
    margin-bottom:14px;
}
.public-mask .public-alert-box i{
    font-weight: 700;
    color:#fff;
    position: absolute;
    left:0;
    right:0;
    bottom:20px;
    text-align: center;
    font-size:30px;
}
@media (min-width: 375px) {
    .public-mask .public-alert-box .alert-type{
        margin-top:240px;
        margin-bottom:25px;
    }
}

/*回到顶部*/
.go-top{
    width: 30px;
    height: 30px;
    background-color: #FEBC21;
    border-radius: 50%;
    position: fixed;
    bottom:10px;
    right:10px;
    display: none;
    color:#fff;
    line-height: 30px;
    text-align: center;
}
/*底部*/

/*
footer{
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 200;
    bottom:0;
    font-size:10px;
    text-align: center;
    background-color: #fff;
}
footer ul{
    display: flex;
}
footer ul li{
    float: left;
    flex:1;
    padding-top:4px;
    text-align: center;
}
footer ul li p{
    color:#999;
}
footer .footer-icon:before{
    font-size:22px;
    color:#999;
}
footer ul li a.active p,
footer ul li a.active .footer-icon:before{
    color:#06AFD8;
}*/
/*字体*/
/*@font-face {
    font-family: "方正粗倩_GBK";
    src:url('../css/iconfont/font/4083_oC_GBK.eot');
    src:url('../css/iconfont/font/4083_oC_GBK.eot?#iefix') format('embedded-opentype'),
    url('../css/iconfont/font/4083_oC_GBK.woff') format('woff'),
    url('../css/iconfont/font/4083_方正粗倩_GBK.TTF') format('truetype'),
    url('../css/iconfont/font/4083_oC_GBK.svg#方正粗倩_GBK') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "方正粗谭黑简体";
    src:url('../css/iconfont/font/oeCzi.eot');
    src:url('../css/iconfont/font/oeCzi.eot#iefix') format('embedded-opentype'),
    url('../css/iconfont/font/oeCzi.woff') format('woff'),
    url('../css/iconfont/font/方正粗谭黑简体.TTF') format('truetype'),
    url('../css/iconfont/font/oeCzi.svg#方正粗谭黑简体') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "方正正中黑简体";
    src:url('../css/iconfont/font/oAeCzi.eot');
    src:url('../css/iconfont/font/oAeCzi.eot#iefix') format('embedded-opentype'),
    url('../css/iconfont/font/oAeCzi.woff') format('woff'),
    url('../css/iconfont/font/方正正中黑简体.TTF') format('truetype'),
    url('../css/iconfont/font/oAeCzi.svg#方正正中黑简体') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "方正正中黑简体";
    src:url('../css/iconfont/font/oeCzib.eot');
    src:url('../css/iconfont/font/oeCzib.eot#iefix') format('embedded-opentype'),
    url('../css/iconfont/font/oeCzib.woff') format('woff'),
    url('../css/iconfont/font/方正正纤黑简体.TTF') format('truetype'),
    url('../css/iconfont/font/oeCzib.svg#方正正中黑简体') format('svg');
    font-weight: normal;
    font-style:normal;
}*/