html,
body {
    width: 100%;
    height: 100%;
    background: url(../img/bg-per-center.jpg) no-repeat center left;
    background-size: cover;
    background-attachment: fixed;
    filter: alpha(opacity=30);
}

.per-bg {
    width: 100%;
    height: 180px;
    background-color: rgba(254, 188, 33, .8);
}

.per-box {
    width: 75px;
    height: 107px;
    text-align: center;
    padding-top: 21px;
    margin: auto;
    color: #fff;
    font-family: "方正正中黑简体", "Microsoft YaHei", "sans-serif";
}

.per-head {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 6px;
}


/*头像下面的奖金介绍*/

.intro-box {
    width: 195px;
    height: 30px;
    margin: 2px auto 4px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.amounts,
.integral,
.card {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    text-align: center;
}

.integral {
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid rgba(255, 255, 255, .5);
}

.intro-box p {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: "方正正中黑简体", "Microsoft YaHei", "sans-serif";
}

.intro-box span,
.intro-box span i {
    color: #EF5752;
    font-size: 14px;
    font-weight: 700;
    font-family: "方正正中黑简体", "Microsoft YaHei", "sans-serif";
}

.content-box-big {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    height: 100px;
    margin-top: 7px;
}

.content-box {
    height: 100px;
    margin-top: 7px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding: 0 7px 0 0;
}

.content-box .square {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    width: 145px;
    height: 100px;
    background-color: rgba(255, 255, 255, .6);
    margin-left: 7px;
    text-align: center;
}

.content-box .square a {
    display: block;
}

.content-box .square .circle {
    background-color: #FF7F00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 18px auto 2px;
}

.content-box .square span {
    font-size: 12px;
    color: #333;
}

.down-box {
    padding-bottom: 7px;
}

.down-box .content-box .c2 {
    background-color: #FEBC21;
}

.down-box .content-box .c3 {
    background-color: #EF5752;
}

.down-box .content-box .c4 {
    background-color: #9DED1D;
}

.down-box .content-box .c5 {
    background-color: #1ED8ED;
}

.down-box .content-box .c6 {
    background-color: #FB7832;
}